@model Brand
@{
    ViewData["Title"] = "Delete";


}

<h1>Delete Brand</h1>




<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Created by</th>
                    <th>Setting</th>
                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>@Model.Name</td>
                    <td>@Model.CreatedAt</td>
                    <td>@Model.CreatedBy</td>
                    <td>
                        <div class="row ">
                            <a asp-controller="brand" asp-action="Index" class="btn btn-warning">Cancel</a>
                            <form method="post">
                                <button class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </td>
                </tr>



            </tbody>
        </table>
    </div>
</div>

@*BU LINKLERI HARDAKI FORUMLAR OLAN VIEW VAR ORA ATIRIG SEHIFE REFRESHLENMEMIS ERRORLAR FALAN GORSENIR. LAYOUTA RENDER EDIRIK.partiala
    cixardim linkleri tekrarlanma olmasin hansi viewe istesek gonderirik bu qaydada*@
@section script{
    @await Html.PartialAsync("_ValidationPartial")
}



