@model RegisterVM
@{
    ViewData["Title"] = "Register";
}



<body>

    <!--====== PRELOADER PART START ======-->

    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->
    <!--====== Header Part Start ======-->



    <!--====== Header Part Ends ======-->
    <!--====== Breadcrumb Part Start ======-->

    <div class="breadcrumb-area">
        <div class="container-fluid custom-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Register</li>
                </ol>
            </nav>
        </div> <!-- container -->
    </div>

    <!--====== Breadcrumb Part Ends ======-->
    <!--====== Register Part Start ======-->

    <section class="register-area pt-10">
        <div class="container-fluid custom-container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-register-wrapper mt-30">
                        <h4 class="allup-title">Creat New Account</h4>
                        <p class="mt-10">Already have an account? <a href="login.html">Log in instead!</a></p>

                        <form method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="single-form">
                                <input asp-for="FirstName"  placeholder="First Name">
                                <span asp-validation-for="FirstName" class="text text-danger"></span>
                            </div>
                            <div class="single-form">
                                <input asp-for="LastName" placeholder="Last Name">
                                <span asp-validation-for="LastName" class="text text-danger"></span>
                            </div>
                            <div class="single-form">
                                <input asp-for="Email" placeholder="Email Address">
                                <span asp-validation-for="Email" class="text text-danger"></span>
                            </div>
                            <div class="single-form">
                                <input type="text" placeholder="Username">
                                <span asp-validation-for="UserName" class="text text-danger"></span>
                            </div>
                            <div class="single-form">
                                <input asp-for="Password" placeholder="Password">
                                <span asp-validation-for="Password" class="text text-danger"></span>
                            </div>
                            <div class="single-form">
                                <input asp-for="ConfirmPassword" placeholder="Confirm Password">
                                <span asp-validation-for="ConfirmPassword" class="text text-danger"></span>
                            </div>
                            <div class="custom-checkbox mt-30">
                                <input type="checkbox" id="account-1">
                                <label for="account-1"></label>
                                <p>Receive Offers From Our Partners</p>
                            </div>
                            <div class="custom-checkbox mt-30">
                                <input type="checkbox" id="account-2">
                                <label for="account-2"></label>
                                <p>Sign Up For Our Newsletter <br> Subscribe To Our Newsletters Now And Stay Up-To-Date With New Collections, The Latest Lookbooks And Exclusive Offers..</p>
                            </div>
                            <div class="single-form">
                                <button type="submit" class="main-btn main-btn-2">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== Register Part Ends ======-->
    <!--====== Brand Part Start ======-->

    <div class="brand-area pt-80">
        <div class="container-fluid custom-container">
            <div class="row brand-active">
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/assets/images/brand/brand-1.jpg" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/assets/images/brand/brand-2.jpg" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/assets/images/brand/brand-3.jpg" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/assets/images/brand/brand-4.jpg" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/assets/images/brand/brand-5.jpg" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/assets/images/brand/brand-6.jpg" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/assets/images/brand/brand-4.jpg" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>

    <!--====== Brand Part Ends ======-->
   
