@model Category

@{
    ViewData["Title"] = "Update";
    IEnumerable<Category> categories = ViewBag.Categories;
    SelectList selectListItems = new SelectList(categories, nameof(Category.Id), nameof(Category.Name));
}


<h1>Update Category</h1>

<div class="row justify-content-center">
    <div class="col-lg-8">

        @*enctype="multipart/form-data" eger forummuzda file upload mes: sekil yuklenme varsa bunu yazmaliyig*@
        <form method="post" enctype="multipart/form-data">

            <div class="form-check">
                <input asp-for="IsMain" class="form-check-input">
                <label asp-for="IsMain" class="form-check-label"></label>
            </div>

            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" required placeholder="Enter Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div id="MainImage" class="form-group">
                <label asp-for="File">Image</label>
                @*inputa multuble atributunu yazdimki bir nece dene sekil sece bilek*@
                @*multibleni sildim inputdan cunki modelden artig list seklinde gelir IEnumerable<IFormFile> Files *@
                @*bir sekil lazimdi bize yuklenen IFormFile File *@
                <input asp-for="File" accept="image/jpg" class="form-control">
                <span asp-validation-for="File" class="text-danger"></span>

            </div>

            <div id="ParentList" class="form-group">
                <label>Parent select</label>
                <select asp-for="ParentId" class="form-control" asp-items="selectListItems">


                    @*@foreach (Category category in categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }*@

                </select>
            </div>
            <button type="submit" class="btn btn-danger">Update</button>
        </form>
    </div>
</div>



@*BU LINKLERI HARDAKI FORUMLAR OLAN VIEW VAR ORA ATIRIG SEHIFE REFRESHLENMEMIS ERRORLAR FALAN GORSENIR. LAYOUTA RENDER EDIRIK.partiala
    cixardim linkleri tekrarlanma olmasin hansi viewe istesek gonderirik bu qaydada*@
@section script{
    @await Html.PartialAsync("_ValidationPartial")
}



